@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 3px !important;
    height: 5px !important;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    cursor: pointer;
    border-radius: 10px;
  }
  /* ::-webkit-scrollbar:horizontal{
    border-radius: 5px;
    height: 5px;
  } */
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
      background: #555;
    } */
  
